h1{
    font-family: limelight;
}

h2{
    font-family: limelight;
}

.a{
    background-color: #FFDD95;
}

.a{
    background-color: ;
}

.nav{
    background-color: #3468C0;
}

.feature-icon{
    background-color: #3468C0;
    border-radius: 10%;
    padding: 10px;
}

#soul{
    border-radius: 10%;
}